* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(34, 33, 33);
    font-family: Helvetica, Arial, sans-serif;
}

/* Start header */
header {
    padding: 20px 35px;
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
}

header a {
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

